<!doctype html>
<HTML lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset = "UTF-8">
        <title>ice</title>
    </head>

    <body bgcolor = "rosybrown" >
        <center>
            <h1>ประวัติส่วนตัว</h1>
            <font color="black">
    นางสาวณัฐชา  อ้นงาม <br>
                ชื่อเล่น ไอซ์ <br>
                อายุ 20 ปี <br>
                เกิดวันที่ 15 เดือนพฤษภาคม พ.ศ.2541 <br>
                ที่อยู่ 152 หมู่7 ต.นาเพียง อ.ชุมแพ จ.ขอนแก่น 40130 <br>
                รหัสนักศึกษา 59342110017-8 <br>
                คณะบริหารธุรกิจเเละเทคโนโลยีสารสนเทศ <br>
                สาขาระบบสารสนเทศทางคอมพิวเตอร์ <br>
                กำลังศึกษาอยู่ : มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น
                <br><br><br><br>
                <img src = "https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/35521334_978834278963827_7677155978906697728_n.jpg?_nc_cat=0&oh=4a63467bfa528188d914f70689853c87&oe=5BB916D3" width ="300" height = "350"><br>
        </font>
        </center>
    </body>
</HTML>